<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MatchIT</title>

  <!-- Bootstrap core CSS -->
  <link href="/FrontPage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/FrontPage/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->


  <!-- Custom styles for this template -->
  <link href="/FrontPage/css/agency.min.css" rel="stylesheet">


  <style>
     @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);

html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}

.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}

    /* Default to hide the video on all devices */
#video{display:none}

/* Default to display the image on all devices */
#videosubstitute{display:block;width:auto;height:100%;}

html, body {
    height: 100%;
    margin: 0;
}
#fullScreenDiv{
    width:100%;
    min-height: 100%; 
   /* Set the height to match that of the viewport. */
    height: 100vh;
    width: auto;
    padding:0!important;
    margin: 0!important;
    background-color: gray;
    position: relative;
}
#video{    
    width: 100vw; 
    height: auto;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: 1;
}

@media (min-aspect-ratio: 16/9) {
  #video{
    height: 150%;
    top: -100%;
  }
  #videosubstitute{
    display:block;
    width: 100%;
    height: auto;}
}

@media (max-aspect-ratio: 16/9) {
  #video {
    width: 150%;
    left: -100%;
  }
  #videosubstitute{display:block;width:auto;height:100%;}
}
/*if there is 992  pixels or more, then display the video but hide the image*/
@media only screen and (min-width : 992px) {
#video{display:block;}
#videosubstitute{display:none}
}   

/* The container for our text and stuff */
#messageBox{
    position: absolute;  top: 0;  left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
}

  </style>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav" style="background-color: #212529">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">MatchIT</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#services">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#team">Team</a>
          </li>-->
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="">Profile</a>
          </li> 
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="user/register" id="register" ><span class="glyphicon glyphicon-user"></span> Sign Up</a>
          </li> -->
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout </a>
      </li>
        </ul>
      </div>
    </div>
  </nav>
  <br><br><br><br>
  <!-- <video class="playo_video hidden-xs" autoplay="" loop="" muted="" width="100%"><source src="https://playo-website.imgix.net/video/video-720.mp4" type="video/mp4"></video> -->
  </br></br></br></br></br></br>
<!-- <div></br></br></br></div> -->



<div class="content">
  <div class="container">
      <div class="row">
        <% events.forEach(Event=>{ %>

       
          <div class="col-xs-12 col-sm-4">
              <div class="card">
                  <a class="img-card">




                      <% if (Event.sport == "Football") { %>
                        <img src="https://media.gettyimages.com/photos/fireworks-are-thrown-onto-the-pitch-by-the-galatasaray-fans-during-picture-id458399724?s=2048x2048" />
                      <% } %>
                      <% if (Event.sport == "Kabbadil"  || Event.sport == "Kabbadi") { %>
                          <img src="https://www.mykhel.com/images/2017-08/photos-pro-kabaddi-league-pkl-2017-5.jpg" />
                      <% } %>
                      <% if (Event.sport == "Volleyball") { %>
                        <img src="https://media.gettyimages.com/photos/diane-zolnercikova-of-the-czech-republic-dives-for-a-ball-during-day-picture-id473069890?s=2048x2048" />
                      <% } %>
                      <% if (Event.sport == "Table Tennisl") { %>
                        <img src="https://media.gettyimages.com/photos/ning-ding-of-china-competes-during-the-womens-singles-table-tennis-picture-id149571838?s=2048x2048" />
                      <% } %>
                      <!-- <% if (Event.sport == "Table Tennisl") { %>
                        <img src="https://media.gettyimages.com/photos/fireworks-are-thrown-onto-the-pitch-by-the-galatasaray-fans-during-picture-id458399724?s=2048x2048" />
                      <% } %> -->





                      


                        
                </a>
                  <div class="card-content">
                      <h4 class="card-title">
                  <a > <%= Event.sport %> 
                        </a>
                      </h4>
                      <!-- <p class="">
                          <%= Event.place %> 
                      </p> -->
                      <p class="">
                          <%= Event.date %> 
                      </p>
                      <p class="">
                          <%= Event.count %> / <%= Event.capacity %> 
                      </p>
                  </div>
                  <div class="card-read-more">
                      <a href="/user/joinpage/<%=Event._id%>" class="btn btn-link btn-block">
                          Join
                      </a>
                  </div>
              </div>
          </div>
        <% }) %>
<!-- 
          <div class="col-xs-12 col-sm-4">
              <div class="card">
                  <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                  <img src="https://images.unsplash.com/photo-1521731978332-9e9e714bdd20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" />
                </a>
                  <div class="card-content">
                      <h4 class="card-title">
                          <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                        </a>
                      </h4>
                      <p class="">
                          Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                      </p>
                  </div>
                  <div class="card-read-more">
                      <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                          Join
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4">
              <div class="card">
                  <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                  <img src="https://images.unsplash.com/photo-1521731978332-9e9e714bdd20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" />
                </a>
                  <div class="card-content">
                      <h4 class="card-title">
                          <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                        </a>
                      </h4>
                      <p class="">
                          Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                      </p>
                  </div>
                  <div class="card-read-more">
                      <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                          Join
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4">
              <div class="card">
                  <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                  <img src="https://images.unsplash.com/photo-1521731978332-9e9e714bdd20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" />
                </a>
                  <div class="card-content">
                      <h4 class="card-title">
                          <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                        </a>
                      </h4>
                      <p class="">
                          Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                      </p>
                  </div>
                  <div class="card-read-more">
                      <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                          Join
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4">
              <div class="card">
                  <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                  <img src="https://images.unsplash.com/photo-1521731978332-9e9e714bdd20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" />
                </a>
                  <div class="card-content">
                      <h4 class="card-title">
                          <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                        </a>
                      </h4>
                      <p class="">
                          Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                      </p>
                  </div>
                  <div class="card-read-more">
                      <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                          Join
                      </a>
                  </div>
              </div>
          </div>
          <div class="col-xs-12 col-sm-4">
              <div class="card">
                  <a class="img-card" href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html">
                  <img src="https://images.unsplash.com/photo-1521731978332-9e9e714bdd20?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80" />
                </a>
                  <div class="card-content">
                      <h4 class="card-title">
                          <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html"> Bootstrap 3 Carousel FadeIn Out Effect
                        </a>
                      </h4>
                      <p class="">
                          Tutorial to make a carousel bootstrap by adding more wonderful effect fadein ...
                      </p>
                  </div>
                  <div class="card-read-more">
                      <a href="http://www.fostrap.com/2016/03/bootstrap-3-carousel-fade-effect.html" class="btn btn-link btn-block">
                          Join
                      </a>
                  </div>
              </div>
          </div> -->
        </div>
      </div>
  </div>



                                                            




  <!-- Bootstrap core JavaScript -->
  <script src="/FrontPage/vendor/jquery/jquery.min.js"></script>
  <script src="/FrontPage/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="/FrontPage/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Contact form JavaScript -->
  <script src="/FrontPage/js/jqBootstrapValidation.js"></script>
  <script src="/FrontPage/js/contact_me.js"></script>

  <!-- Custom scripts for this template -->
  <script src="/FrontPage/js/agency.min.js"></script>

</body>

</html>
