<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>MatchIT</title>
  <link rel="icon" href="https://cdn.pixabay.com/photo/2012/04/24/18/11/basketball-40742_960_720.png" type="image/icon type">


  <!-- Bootstrap core CSS -->
  <link href="/FrontPage/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="/FrontPage/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->


  <!-- Custom styles for this template -->
  <link href="/FrontPage/css/agency.min.css" rel="stylesheet">


  <style>
     @import url(https://fonts.googleapis.com/css?family=Roboto:400,100,900);
html,
body {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
  height: 100%;
  width: 100%; 
  background: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
 
.wrapper {
  display: table;
  height: 100%;
  width: 100%;
}
.container-fostrap {
  display: table-cell;
  padding: 1em;
  text-align: center;
  vertical-align: middle;
}
.fostrap-logo {
  width: 100px;
  margin-bottom:15px
}
h1.heading {
  color: #fff;
  font-size: 1.15em;
  font-weight: 900;
  margin: 0 0 0.5em;
  color: #505050;
}
@media (min-width: 450px) {
  h1.heading {
    font-size: 3.55em;
  }
}
@media (min-width: 760px) {
  h1.heading {
    font-size: 3.05em;
  }
}
@media (min-width: 900px) {
  h1.heading {
    font-size: 3.25em;
    margin: 0 0 0.3em;
  }
} 
.card {
  display: block; 
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12); 
    transition: box-shadow .25s; 
}
.card:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}
.img-card {
  width: 100%;
  height:200px;
  border-top-left-radius:2px;
  border-top-right-radius:2px;
  display:block;
    overflow: hidden;
}
.img-card img{
  width: 100%;
  height: 200px;
  object-fit:cover; 
  transition: all .25s ease;
} 
.card-content {
  padding:15px;
  text-align:left;
}
.card-title {
  margin-top:0px;
  font-weight: 700;
  font-size: 1.65em;
}
.card-title a {
  color: #000;
  text-decoration: none !important;
}
.card-read-more {
  border-top: 1px solid #D4D4D4;
}
.card-read-more a {
  text-decoration: none !important;
  padding:10px;
  font-weight:600;
  text-transform: uppercase
}
    /* Default to hide the video on all devices */
#video{display:none}
/* Default to display the image on all devices */
#videosubstitute{display:block;width:auto;height:100%;}
html, body {
    height: 100%;
    margin: 0;
}
#fullScreenDiv{
    width:100%;
    min-height: 100%; 
   /* Set the height to match that of the viewport. */
    height: 100vh;
    width: auto;
    padding:0!important;
    margin: 0!important;
    background-color: gray;
    position: relative;
}
#video{    
    width: 100vw; 
    height: auto;
    object-fit: cover;
    left: 0px;
    top: 0px;
    z-index: 1;
}
@media (min-aspect-ratio: 16/9) {
  #video{
    height: 150%;
    top: -100%;
  }
  #videosubstitute{
    display:block;
    width: 100%;
    height: auto;}
}
@media (max-aspect-ratio: 16/9) {
  #video {
    width: 150%;
    left: -100%;
  }
  #videosubstitute{display:block;width:auto;height:100%;}
}
/*if there is 992  pixels or more, then display the video but hide the image*/
@media only screen and (min-width : 992px) {
#video{display:block;}
#videosubstitute{display:none}
}   
/* The container for our text and stuff */
#messageBox{
    position: absolute;  top: 0;  left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height:100%;
}
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: darkgoldenrod;
  }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}

  </style>

</head>

<body id="page-top">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top navbar-shrink" id="mainNav" style="background-color: #212529">
    <div class="container">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">MatchIT</a>
      <!-- <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button> -->
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav text-uppercase ml-auto">
            <!-- <li class="dropdown nav-item">
                <a href="#" class="dropdown-toggle nav-link js-scroll-trigger" data-toggle="dropdown" role="button" aria-expanded="false">Select Sport <span class="caret"></span></a>
               <ul class="dropdown-menu" role="menu" style="background-color: #212529;">
                  <center>  <li ><a href="#" style="color: white">All Sports</a></li></center> 
                  <center>  <li ><a href="#" style="color: white">Football</a></li></center> 
                    <center><li><a href="#" style="color: white">Cricket</a></li></center> 
                      <center> <li><a href="#" style="color: white">Basketball</a></li></center> 
                        <center>  <li><a href="#" style="color: white">Volleyball</a></li></center> 
                          <center>  <li><a href="#" style="color: white">Table Tennis</a></li></center> 
                            <center>  <li><a href="#" style="color: white">Tennis</a></li></center> 
                              <center>  <li><a href="#" style="color: white">Kabaddi</a></li></center> 
                                <center>  <li><a href="#" style="color: white">Rugby</a></li></center> 
                                  <center>  <li><a href="#" style="color: white">Hockey</a></li></center> 
                                    <center>  <li><a href="#" style="color: white">Badminton</a></li></center> 
                  
                </ul>
              </li> -->
              <div class="dropdown nav-item">
                <button class="dropbtn nav-link js-scroll-trigger" style="background-color: #212529;">Select Sport</button>
                <div class="dropdown-content" style="background-color: #212529;">6
                    <center>  <a href="/user/getevents/" style="color: white">All Sports</a></center> 
                    <center>  <a href="/user/getevents/Football" style="color: white">Football</a></center> 
                    <center>  <a href="/user/getevents/Cricket" style="color: white">Cricket</a></center> 
                    <center>  <a href="/user/getevents/Basketball" style="color: white">Basketball</a></center> 
                    <center>  <a href="/user/getevents/Volleyball" style="color: white">Volleyball</a></center> 
                    <center>  <a href="/user/getevents/Table Tennis" style="color: white">Table Tennis</a></center> 
                    <center>  <a href="/user/getevents/Tennis" style="color: white">Tennis</a></center> 
                    <center>  <a href="/user/getevents/Kabaddi" style="color: white">Kabaddi</a></center> 
                    <center>  <a href="/user/getevents/Rugby" style="color: white">Rugby</a></center> 
                    <center>  <a href="/user/getevents/Hockey" style="color: white">Hockey</a></center> 
                    <center>  <a href="/user/getevents/Badminton" style="color: white">Badminton</a></center>
                <!-- <a href="#">Link 1</a>
                  <a href="#">Link 2</a>
                  <a href="#">Link 3</a> -->
                </div>
              </div>
          
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="/user/profile">Profile</a>
          </li> 
          <!-- <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="user/register" id="register" ><span class="glyphicon glyphicon-user"></span> Sign Up</a>
          </li> -->
            
      <li class="nav-item">
        <a class="nav-link js-scroll-trigger" href="/user/logout"><span class="glyphicon glyphicon-log-in"></span> Logout </a>
      </li>
        </ul>
      </div>
    </div>
 
  </nav>
  <br><br><br><br>
  <!-- <video class="playo_video hidden-xs" autoplay="" loop="" muted="" width="100%"><source src="https://playo-website.imgix.net/video/video-720.mp4" type="video/mp4"></video> -->
 
<!-- <div></br></br></br></div> -->



<div class="content">
  <div class="container">
      <div class="row">
        <% events.forEach(Event=>{ %>
          <%let d =new Date()%>
          <%if(Event.date>d){ %>
          <div class="col-xs-12 col-sm-4">
              <div class="card">
                  <a class="img-card">
                      <% if (Event.sport == "Football") { %>
                        <img src="https://media.gettyimages.com/photos/fireworks-are-thrown-onto-the-pitch-by-the-galatasaray-fans-during-picture-id458399724?s=2048x2048" />
                      <% } %>
                      <% if ( Event.sport == "Kabaddi") { %>
                          <img src="https://www.mykhel.com/images/2017-08/photos-pro-kabaddi-league-pkl-2017-5.jpg" />
                      <% } %>
                      <% if (Event.sport == "Volleyball") { %>
                        <img src="https://media.gettyimages.com/photos/diane-zolnercikova-of-the-czech-republic-dives-for-a-ball-during-day-picture-id473069890?s=2048x2048" />
                      <% } %>
                      <% if (Event.sport == "Table Tennis") { %>
                        <img src="https://media.gettyimages.com/photos/ning-ding-of-china-competes-during-the-womens-singles-table-tennis-picture-id149571838?s=2048x2048" />
                      <% } %>
                      <% if (Event.sport == "Basketball") { %>
                        <img src="https://media.gettyimages.com/photos/ball-and-basketball-court-picture-id183256716?s=2048x2048" />
                      <% } %>
                      <% if (Event.sport == "Cricket") { %>
                        <img src="https://media.gettyimages.com/photos/cricket-ball-picture-id966334616?s=2048x2048" />
                      <% } %>
                      <% if (Event.sport == "Badminton") { %>
                        <img src="https://image.shutterstock.com/image-photo/playing-badminton-on-court-600w-794204539.jpg" />
                      <% } %>
                      <% if (Event.sport == "Tennis") { %>
                        <img src="https://image.shutterstock.com/image-photo/tennis-ball-backgrounds-600w-294411833.jpg" />
                      <% } %>
                      <% if (Event.sport == "Hockey") { %>
                        <img src="https://image.shutterstock.com/image-photo/jakarta-indonesia-august-30-2018-600w-1178637658.jpg" />
                      <% } %>
                      <% if (Event.sport == "Rugby") { %>
                        <img src="https://images.unsplash.com/photo-1475171272919-d65b555848d7?ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80" />
                      <% } %>

        
                      
                        
                      </a>
                  <div class="card-content">   <center>
                      <h4 class="card-title" style="color:#007bff;">
                     
                  <a > <%= Event.sport %> 
                        </a>
                      </h4>
                      <h6 class="">
                          <%= Event.place %> 
                      </h6>
                      <p class="">
                          <%= Event.date %> 
                      </p>
                      <p class="">
                          <!-- <%= Event.duration %>  -->
                      </p>
                      <h6 class="">
                          <%= Event.count %> / <%= Event.capacity %> 
                      </h6>
                    <%Event.user.forEach((eventUser)=>{%>
                     <% if(JSON.stringify(eventUser)==JSON.stringify(user._id)){%>
                        <a href="http://localhost:2900/chat.html?name=<%=user.name%>&room=<%=Event._id%>" target="_blank"><button class="btn btn-primary">JOIN CHAT ROOM</button></a>
                      <%}else{%>
                        <span></span>
                    <%}})%>
                    </center>
                  </div>
                  <div class="card-read-more">
                      
                      <%let flag=0;%>
                      <%let full=0;%>
                      
                      <%Event.user.forEach((eventUser)=>{%>
                       
                       <% if(JSON.stringify(eventUser)==JSON.stringify(user._id)){%>
                        
                        <%  flag=1;}%>
                     <% })%>


                      <%if(Event.count>=Event.capacity){%>
                           <% full=1;%>
                      <%}%>

                      

                        
                      

                   <% if(flag==1){%>
                    <center><a href="/user/acceptUnjoinRequest/<%=Event._id%>" style="color:green" class="btn btn-link btn-block">Joined/ Click To Unjoin</a></center>
                    
                 <%}else if(full ==1){%>
                  <center><a style="color:red;" class="btn btn-link btn-block">Full</a></center>
                <% }else {%>
                  <a href="/user/joinpage/<%=Event._id%>" class="btn btn-link btn-block">
                    Join
                </a>
               <% }%>
                  </div>
              </div>
          </div>
         
          
        <%} }) %>

        </div>
      </div>
  </div>
  <!-- <iframe id="chat" height="90%" width="90%" src="http://localhost:4000/chat.html?name=abc&room=abc"></iframe> -->
     
    <!-- Footer -->
    <footer class="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <span class="copyright">Copyright &copy; MatchIT</span>
            </div>
            <div class="col-md-4">
              <ul class="list-inline social-buttons">
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-twitter"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-facebook-f"></i>
                  </a>
                </li>
                <li class="list-inline-item">
                  <a href="#">
                    <i class="fab fa-linkedin-in"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="list-inline quicklinks">
                <li class="list-inline-item">
                  <a href="#">Privacy Policy</a>
                </li>
                <li class="list-inline-item">
                  <a href="#">Terms of Use</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
